


<% if cannot? :manage, :all %>


<h1>Editing Team Details</h1>

<%= simple_form_for(@user) do |f| %>

    <%= f.error_notification %>
    <%= f.input :username , :label => "Team Name", :disabled => true %>
    <%= f.input :first_person  %>
    <%= f.input :second_person  %>
    <!--  <%= f.input :third_person %>                 -->
    <%= f.input :password %>
    <%= f.input :email%>

    <%= f.button :submit , "Update Team",  :class => 'btn btn-primary'%>
        <%end%>
    <%end%>

<% if can? :manage, :all %>
            <h1><%= t "general.Editing_Admin_Account" %></h1>

            <%= simple_form_for(@user) do |f| %>

                <%= f.error_notification %>
                <%= f.input :first_person  %>
                <%= f.input :password %>
                <%= f.input :email%>

                <%= f.button :submit , "Update Admin",  :class => 'btn btn-primary'%>
        <%end%>
    <%end%>

<%= link_to 'Back', "/",  :class => 'btn'  %>
