<h1> Registration Details </h1>

<br>
<br>

<%= simple_form_for(@user, :html => {:novalidate => false}) do |f| %>

    <%= f.error_notification %>
    <%= f.input :username , :label => "Username", input_html: {:required => "required", maxlength: 20 }%>
    <%= f.input :first_person, input_html: {:required => "required", maxlength: 20}  %>
    <%= f.input :second_person, input_html: {maxlength: 20 }  %>
    <%= f.input :password, input_html: {:required => "required", maxlength: 20 } %>
    <%= f.input :email, input_html: {:required => "required"}%>


    <%= f.button :submit , "Create User",  :class => 'btn btn-primary'%>

<% end %>

<%= link_to 'Back', "/",  :class => 'btn' %>
