<p id="notice"><%= notice %></p>


x: <%= @x %> <br>

Compilacsssion: <%= @compile %> <br>



src: <%= @src %> <br>
path: <%= @path %> <br>


out: <%= @out %> <br>

userOuput: <%= @userouput %> <br>
adminOuput: <%= @adminOuput %> <br>

equals: <%= @equals %> <br>








